.root {
    @apply relative;

}

.root:hover .productBg::before {
    transform: scale(0.97);
}

.root:hover .productImage {
    transform: scale(1.25);
}

.root:nth-child(6n + 1) .productBg {
    @apply bg-violet;
}

.root:nth-child(6n + 3) .productBg {
    @apply bg-pink;
}

.root:nth-child(6n + 5) .productBg {
    @apply bg-blue;
}

.root:nth-child(6n + 6) .productBg {
    @apply bg-cyan;
}

.productBg {
    @apply absolute z-0 inset-0;
    background-color: #212529;
}

.productBg::before {
    @apply block w-full h-full bg-repeat-space transition-transform duration-1000;
    content: '';
    background-image: url("/product-pattern-bg.svg");
}

.productImage {
    @apply transition-transform duration-500;
}

.productTag {
    @apply absolute left-0 top-0 z-20;
}

.productTag>* {
    font-size: 2rem;
    letter-spacing: 0.4;
}

.productTitle {
    @apply font-bold;
    line-height: 2.2em;
    background-color: theme("colors.primary");
}

.productTitle span {
    @apply py-4 px-6;
}

.productPrice {
    @apply pb-4 pt-2 px-6 font-semibold;
    font-size: 1rem;
    letter-spacing: 0.4px;
    background-color: theme("colors.primary");

}